/*
   Home Page for CS230
   Author: Cas Gentry
   Date:   22 Aug 10

   Filename:         index.html
*/

html{
background: url('vegetables.jpg') repeat 50% 50%;
}

html, body {
	height:100%; 
	margin:0; 
	padding:0;
}

p {
	font-family: arial, sans serif; 
	font-size: 10pt;
}
#title h1	{
	color: #347235;
	font-size: 40px; 
	margin: 50px 0px 30px 10px; 
	font-family: fantasy, arial; 
	text-shadow: grey 5px 5px 10px;
}
h2	{
	color: #1e90ff; 
	font-size: 20px; 
	margin: 10px 0px 10px 10px; 
	font-family: fantasy, arial;
}
h3	{
	color: #254117; 
	font-size: 20px; 
	margin: 5px; 
	font-family: fantasy, arial;
}

table tr td{
	align: center;
	vertical-align: top;
}

a img {
	border-color: white;
	text-decoration: none;
}

/*main id attributes*/
#main {
	background-color: white;
	display: block;
	position: absolute;
	top: 0px;
	left: 12.5%;
	height: 100%;
	width: 75%;
	overflow: auto;
}

/*title id attributes*/
#title {
	margin: 0px 0px 10px 0px;
	display: block;
	text-align: center;
	height: 20pt;
}

/* Blurb formatting */
#blurb {
	display: block;
	float: left;
	width: 50%;
	margin-left: 26px;
}

#blurb p{
	font-family: times new roman;
	line-height: 30px;
}		

#blurb p:first-letter{
	font-size: 20pt;
	color: #4AA02C;
	vertical-align: bottom;
	margin-left: 20px;
}

#content{
	display: block;
	position: absolute;
	top: 25%;
	left: 5%;
	width: 75%;
	height: 65%;
}

/*Fridge Search attributes*/
#fridge {
	display: block;
	float: left;
	height: 100%;
	background: url(fridge.jpg) no-repeat top right;
}

/* Search ingredients function */
#searchForm {
	margin: 30px 3px 0px 80px;
	width: 170px;
	height: 275px;
}

#searchForm p { 
	font-size: 9pt; 
	margin-bottom: 35px; 
}

#searchForm input { 
	margin: 3px 0px 3px 16px; 
	border: 1px solid grey;
	width: 120px;
}

#searchForm .button {
	display: block;
	float: right;
	margin-right: 10px;
}

/* Attributes for Registration page*/
#whyJoin {
	display: block;
	position: absolute;
	top: 150px;
	left: 6%;
	width: 37.5%;
	
}

#whyJoin .regTop{ 
	color: white;
	display: block;
	border: solid #41A317; 
	vertical-align: middle;
	background: url(ingred.jpg) center bottom;
	text-shadow: black 2px 3px 2px;
	text-align: center; 
	padding: 10px;
	font-weight: bolder;
}

#whyJoin .regBot { 
	border: solid #C3FDB8; 
	height: 120px;
}

#whyJoin .regBot ul { margin-left: 20px; }

#whyJoin .regBot ul li {
	list-style-type: square;
	padding: 3px;
}

#regForm{
	display: block;
	position: absolute;
	top: 150px;
	right: 6%;
	width: 37.5%;
}

#regForm h3{ 
	border-bottom: solid #C3FDB8; 
}

#regForm tr td{ 
	vertical-align: top;
}

#regForm input{
	height: 25px;
	width: 175px;
}

#regForm .button input{
	margin: 10px;
	padding: 5px;
	width: 65px;
	height: 30px;
	float: right;
	border: 1px solid black;
}


/* Addresses all the login formatting */
#login {
	display: block;
	position: absolute;
	top: 5px;
	right: 25px;
	padding: 5px;
}

#login form table {
	font-family: arial;
	font-size: 8pt;
	padding: 5px;
}

#login .loginTitle {
	font-weight: bold;
	color: blue;
	padding: 0px 10px 0px 0px;
}

#login .tableTag {
	text-align: right;
}

.errorMsg {
	color: gray;
	font-size: 7pt;
	font-style: italic;
	text-align: right;
}

/* After login menu */
#welcome{
	display: block;
	position: absolute;
	top: 5%;
	right: 0%;
	width: 20%;
	font-family: fantasy;
	font-size: 10pt;
}

#userMenu {
	display: block;
	position: absolute;
	top: 25%;
	right: 0%;
	font-size: 12pt;
	width: 20%;
}

#userMenu tr td{
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

a:link, a:visited { 
	color: black;
	text-decoration: none; 
}

a:hover { 
	background-color: #C3FDB8;
}

/* Bottom page links */
#lowerLinks {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 23%;
	height: 30px;
	width: 50%;
}

#lowerLinks table{
	width: 100%;
}

#lowerLinks table tr td{
	text-align: center;
	width: 20%;
}

#lowerLinks a:link, #lowerLinks a:visited {
	font-size: 8pt;
}

#lowerLinks td:hover{
	background-color: #C3FDB8;
	font-size: 8pt;
}

#leftRecipe {
	align: right;
	font-weight: bold;
	font-size: 10pt;
}

#measurement{
	font-size: 8pt;
	margin: 5px;
}

#picDisplay{
	width:
}

#picDisplay .special{
	color: red;
	
}